KUIAppUI {
    layout: horizontal;
}

PodsWidget {
    content-align: center middle
}

#podsWidget {
    dock: right
}

#namespacesMessage {
    content-align: center middle;
    text-style: bold
}

#main_window {
    layout: grid;
    grid-size: 3 1;
}

#pods_widget {
    border: solid red;
}

#logs_widget {
    border: solid green;
    width: 20%;
}

#namespaces_widget {
    border: solid blue;

}

#pods_widget_header {
    layout: horizontal;
    content-align: center middle;
    height: 3;
}
/*

#pods_row_container{
    
}

*/
