KUIAppUI {
    layout: horizontal;
}

#main_window {
    layout: grid;
    grid-size: 3 1;
    grid-columns: 2fr 4fr 8fr
}

PodsWidget {
    content-align: center middle;
    border: palevioletred
}

NamespacesWidget {
    border: steelblue	
}

LogsWidget {
    border: darkslategrey;
    text-align: center;

}

#button_namespaces {
    background: bisque;
}